@use "../../styles/style" as *;

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.container {
  @include container
}

.title {
  @include page-title;  
}

.link {
  @include page-title;
  @include transition;

  font-size: $fs-3;
  color: $color-primary;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
