@mixin page-title {
  font-family: $font-anek-telugu;
  font-size: $fs-3;
  line-height: 1.2;
  font-weight: $fw-semibold;
  color: $color-secondary;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

@mixin transition {
  transition: all 0.3s ease-out;
}

@mixin center-positioning {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%,-50%);
}

